<%- include('../../base/header'); -%>
<div   class="rides-section">
    <section  class="rides-section__thrill-rides">
        <h2 class="rides-section__headlines">THRILL RIDES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="rides-section__thrill-rides__items">
            <% [
            {src: "assets/thrill-rides/great-fall.png", name: "The Great Fall", desc: "Prepare for the ultimate adrenaline rush as you embark on 'The Great Fall,' an awe-inspiring ride that takes the excitement to new heights - quite literally! This towering adventure promises an exhilarating ascent followed by an adrenaline-pumping plunge that will leave you breathless and craving more."}, 
            {src: "assets/thrill-rides/spinny-monster.png", name: "Spinny Monster", desc: "Dive into a whirlwind of excitement as you take on the Spinny Monster, a thrilling ride that promises to spin you into a world of pure exhilaration! This captivating attraction is designed for those who crave the perfect blend of spins, twirls, and heart-pounding fun."}, 
            {src: "assets/thrill-rides/speed-of-light.png", name: "Speed of Light", desc: "Get ready to unleash your inner thrill-seeker and buckle up for an adrenaline-fueled ride on our Speed of Light Roller Coaster. As the ultimate roller coaster enthusiast's dream, this heart-pounding attraction is engineered to deliver an electrifying experience that defies gravity and propels you into a world of high-speed excitement."}].forEach(function(elem){ %>
                <%- include('../shared/thumbnail', {data: elem}); %>
              <% }); %>
        </div>
    </section>
    <section  class="rides-section__thrill-rides">
        <h2 class="rides-section__headlines">FAMILY RIDES</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="rides-section__thrill-rides__items">
            <% [
            {src: "assets/family-rides/bumper-car.png", name: "Bumper Cars", desc: "Get ready for a dose of laughter, adrenaline, and friendly collisions at our Bumper Cars Arena! Step into a world where fun takes the driver's seat and let the excitement unfold as you navigate your colorful bumper car through the twists and turns of our specially designed arena."}, 
            {src: "assets/family-rides/ferris-wheel.png", name: "Ferris Wheel", desc: "Prepare to soar to new heights and witness breathtaking views as you embark on a sky-high adventure aboard our Ferris Wheel. A towering icon of our theme park, the Ferris Wheel promises a panoramic journey that blends thrills with the serenity of a gentle ascent, creating a unique and unforgettable experience."}, 
            {src: "assets/family-rides/carousel.png", name: "Carousel", desc: "Step into a world of enchantment as our Carousel Ride invites you to embark on a timeless journey filled with joy, music, and whimsical charm. The Carousel, adorned with beautifully handcrafted horses and magical details, stands as a beacon of classic amusement, ready to transport you to a realm of pure delight"}].forEach(function(elem){ %>
                <%- include('../shared/thumbnail', {data: elem}); %>
              <% }); %>
        </div>
    </section>
</div>
<section   class="show-section">
    <h2 class="show-section__headlines">SHOWS</h2>
    <div class="show-section__items">
        <% [
        {src: "assets/event-picture/new-year-party.png", name: "New Year Party", desc: "Step into a world of enchantment as our theme park transforms into the ultimate New Year's Eve destination. Illuminated by the glow of a thousand lights, join us for a night of pure magic, where the air is charged with anticipation, and every corner of the park is alive with celebration."}, 
        {src: "2", name: "Name of the show2", desc: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."}].forEach(function(elem){ %>
            <%- include('../shared/thumbnail-horizontal', {data: elem}); %>
          <% }); %>
    </div>

</section>
<%- include('../../base/footer'); -%>